<% layout('/layouts/boilerplate') -%>
<body>
    
    <div class="row mt-2">
        <div class="col-8 offset-2">
      
    <h2> Edit Villa</h2> 
       <form method="post" action="/Listing/<%= placeListing.id %>?_method=put"  novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-1">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]"  value="<%= placeListing.title %>" class="form-control" required>
            <div class="valid-feedback">Looks good! Title</div>  
            <div class="invalid-feedback">title is required</div>  
        </div>
         <br> 

         <div class="mb-1">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" name="listing[description]"  class="form-control" required><%= placeListing.description %></textarea>
            <div class="valid-feedback">Looks good! Description</div> 
            <div class="invalid-feedback">Please enter short description is required</div>    
        </div>
         <br> 
          
         <div class="mb-1">
           <b> Original Listing Image</b>
           <div class="row">
            <div class="col-12 col-md-6"> 
                <img src="<%= OriginalUrl %>" class="img-fluid" style="max-height: 200px; width: auto;" alt="Original Listing Image">
            </div>
        </div>
         </div>
         <div class="mb-1">
            <label for="image" class="form-label"> Upload New Image</label>
            <input type="file" name="listing[image]"  class="form-control">            
        </div>   
          <br> 


          <div class="row"> 
        <div class="mb-1 col-md-4"> 
             <label for="price" class="form-label">Price</label>  
             <input type="number" name="listing[price]"  value="<%= placeListing.price %>" required>
             <div class="invalid-feedback">Price should be valid</div>  
             <br> <br>
        </div>
        <div class="mb-1 col-md-8">
            <label for="country" class="form-label">country</label>
            <input type="text" name="listing[country]"  value="<%= placeListing.country %> " class="form-control" required>
            <div class="invalid-feedback">Country name should be valid</div>  
            <br> 
        </div>

      </div>
        <div class="mb-1">
            <label for="location" class="form-label">Location</label>  
            <input type="text" name="listing[location]"  value="<%= placeListing.location %> " class="form-control" required>
            <div class="invalid-feedback">Location name should be valid </div>  
            <br> 
        </div>        

        <button class="btn btn-dark edit-btn mt-2" style="margin-bottom:0.5rem ;" >Apply Changes</button>
    </form> 

</div>
</div>
<script src="/javascript/logic.js"></script>
</body>
 