<% layout('/layouts/boilerplate') -%>
<body>   

   <div class="row mt-3">
    <div class="col-8 offset-3">
     <h3><%=singleListing.title %> </h3>
    </div>
    <div class="card col-6 offset-2 show-card Listing-card">
      <img src="<%=  singleListing.image.url %>" class="card-img-top show-img" alt="Listing_image">
      <div class="card-body">
        <!-- <p class="card-text"><b>  <%=singleListing.title %> </b> -->
          <p><i> Owned by<%=singleListing.owner.username %></i></p>
          <p><%=  singleListing.description %> </p> <br>
          
         <p> &#8377; <%= singleListing.price.toLocaleString("en-IN") %> <br></p>
          <p><%= singleListing.location %><br></p>
         <p> <%= singleListing.country %><br></p>
        </p>

      </div>
    </div>


 

<br> 
 <!-- Current User Ki value App.js se ak middleware or locals se aa rhi hai -->
 <% if(currentUser && currentUser._id.equals(singleListing.owner._id)){ %>


<div class="btns">  
<a href="/Listing/<%= singleListing.id %>/edit" class="btn btn-dark edit-btn col-1 offset-2 check">Edit this Villa</a>

 <form method="post" action="/Listing/<%=singleListing.id%>?_method=Delete">
    <button class="btn btn-dark  check  offset-4"> Delete Listing</button>
 </form>  
</div>
</div>
<% } %>


<!-- Review Section -->


<div class="col-8 offset-2 mb-3">
  <hr>
  <h4>Leave a Review</h4>
  <form action="/Listing/<%= singleListing.id %>/review" method="post" novalidate class="needs-validation">


    <div class="mb-3 mt-3">
      <label for="rating" class="form-label">Rating</label>
    <fieldset class="starability-slot">
      
      <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
      <input type="radio" id="first-rate1" name="review[rating]" value="1" />
      <label for="first-rate1" title="Terrible">1 star</label>
      <input type="radio" id="first-rate2" name="review[rating]" value="2" />
      <label for="first-rate2" title="Not good">2 stars</label>
      <input type="radio" id="first-rate3" name="review[rating]" value="3" />
      <label for="first-rate3" title="Average">3 stars</label>
      <input type="radio" id="first-rate4" name="review[rating]" value="4" />
      <label for="first-rate4" title="Very good">4 stars</label>
      <input type="radio" id="first-rate5" name="review[rating]" value="5" />
      <label for="first-rate5" title="Amazing">5 stars</label>
    </fieldset> 
  </div>
    <div class="mb-3 mt-3">
      <label for="comment">Comment</label>
      <textarea name="review[comment]" id="comment" cols="30"
      class="form-control" rows="5" required></textarea>
      <div class="invalid-feedback">Please leave Some Comment For Review</div>
    </div>
    <button class="btn btn-outline-dark">Submit</button>
  </form>
</div>
</body>

<hr> 

<% if(singleListing.reviews.length!=0){ %>
  <h4><b>All Reviews</b></h4>
  <div class="row">
    <% for(review of singleListing.reviews) { %>
      <div class="card col-5 mb-3 ms-3">
        <div class="card-body">
          <h5 class="card-title"> @<%=review.author.username%>
          </h5>
          <p class="starability-result card-text" data-rating="<%= review.rating %>"> </p>
          <p class="card-text">
            <%= review.comment%>
          </p>

        </div>
        <form class="mb-3" method="post"
          action="/Listing/<%= singleListing.id %>/review/<%=review.id %>?_method=Delete">
          <button class="btn btn-sm btn-dark">Delete</button>
        </form>
      </div>
      <% } %>

<%}%>

<h2 style="text-align: center; margin:0.5em 0;">Where you’ll be</h2>
<div id="map" class="col-8 offset-2"></div>
</div>


<!-- <script>
    function initMap() {
        var mapOptions = {
            center: { lat: 28.7041, lng: 77.1025 }, // Default Delhi location
            zoom: 10
        };

        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= mapApi %>&callback=initMap" async></script> -->